/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.log
/config.status
/config/firewall-applet.desktop
/config/firewall-config.appdata.xml
/config/firewall-config.desktop
/config/firewalld.service
/config/firewalld-sysctls.conf
/config/lockdown-whitelist.xml
/config/org.fedoraproject.FirewallConfig.gschema.valid
/config/org.fedoraproject.FirewallConfig.gschema.xml
/config/org.fedoraproject.FirewallApplet.gschema.valid
/config/org.fedoraproject.FirewallApplet.gschema.xml
/config/org.fedoraproject.FirewallD1.desktop.policy
/config/org.fedoraproject.FirewallD1.policy
/config/org.fedoraproject.FirewallD1.server.policy
/configure
/doc/html/*.html
/doc/man/man1/*.1
/doc/man/man5/*.5
/doc/xml/errorcodes.xml
/doc/xml/firewall-cmd.xml
/doc/xml/firewallctl.xml
/doc/xml/firewalld.xml
/doc/xml/transform-html.xsl
/doc/xml/transform-man.xsl
/doxygen.conf
/firewalld-*.tar.bz2
/install-sh
/missing
/po/*
/src/firewall/config/__init__.py
/src/firewall-applet
/src/firewall-cmd
/src/firewall-config
/src/firewall-offline-cmd
/src/firewalld
/src/tests/atconfig
/src/tests/package.m4
/src/tests/testsuite*
Makefile
Makefile.in
!/po/*.po
!/po/POTFILES.in
