/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.log
/config.status
/config/firewall-applet.desktop
/config/firewall-config.desktop
/config/org.fedoraproject.FirewallApplet.gschema.valid
/config/org.fedoraproject.FirewallApplet.gschema.xml
/config/org.fedoraproject.FirewallD1.policy
/configure
/doc/man/man1/*.1
/doc/man/man5/*.5
/doxygen.conf
/firewalld-*.tar.bz2
/install-sh
/missing
/po/*
/src/firewall/config/__init__.py
Makefile
Makefile.in
!/po/*.po
!/po/POTFILES.in
