# We need sudo so we can install dependencies
sudo: required
dist: trusty

language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "nightly"

# Install necessary dependencies
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y autoconf automake pkg-config intltool libglib2.0-dev xsltproc docbook-xsl docbook-xml iptables ipset ebtables python-slip-dbus

script:
  # Do a parallel build to spot potential dependency problems.
  # No ebtables-restore in ubuntu 14.04
  - ./autogen.sh --with-ebtables-restore=/bin/false && make -j32

# uncomment to add IRC notifications
# 
#notifications:
#  irc: "chat.freenode.net#firewalld"
#    use_notice: true
